* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header and navi styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 43px 230px;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}

.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
.m {
  color: #fd6e0a;
}
.hire {
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
  color: var(--White-Color, #fff);
  border: 0;
}
/* banner */
.banner{
margin: 0 200px;
display: flex;
align-items: center;
}
.hi{
    color: var(--Dark-02, #474747);
font-size: 45px;
font-weight: 600;
}
.fh{
    color: var(--Dark-01, #181818);
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
.p-0{
    color: var(--Dark-03, #757575);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 30px;

}
.cv{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
text-align: center;
padding: 19px 17px 18px 51px;
font-size: 20px;
font-weight: 700;

}
.contact{
    margin-left: 30px;
border-radius: 5px;
border: 1px solid #FD6E0A;
padding: 19px 23px 18px 58px;
color: #FD6E0A;
text-align: center;
font-size: 20px;
font-weight: 700;
}
.header{
    background: #FFF8F3;
    background-image: url(/images/header_bg.png),url(/images/developer.png); 
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* section styles */
.about{
border-radius: 10px;
background: #FFF8F3;
margin-top: 123px;
padding: 131px 156px;
text-align: center;
}
.section-title{
color: var(--Dark-01, #181818);
font-size: 35px;
font-weight: 700;
margin-bottom: 30px;

}
.description-0{
    color: var(--Dark-03, #757575);
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-bottom: 30px;

}

.about-container{
    display: flex;
    justify-content: space-around;
}
.info{
color: var(--Dark-03, #757575);
 text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}
.info-value{
    color: var(--Dark-02, #474747);
font-size: 20px;
font-weight: 700;
line-height: 30px;
}
/* what i do styles */
.section-title-0{
    color: var(--Dark-01, #181818);
font-size: 35px;
font-weight: 700;
margin-top: 130px;
}
.what-i-do{
    text-align: center;
}
.what-1{
    margin-top: 30px;
    color: var(--Dark-03, #757575);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.what-0-1{
    /* border: solid; */
    width: 267px;
height: 377px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.what-0-0{
display: flex;
justify-content: space-between;
margin-top: 50px;
}
.p-title{
    color: var(--Dark-01, #181818);
text-align: left;
font-size: 20px;
font-weight: 700;
padding-left: 30px;
}
.p-blog{
    width: 201px;
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
padding: 30px 33px 30px 33px;
text-align: left;

}
.what-i-do  img{
    padding: 30px 193px 30px 30px;
}
.sum{
    display: flex;
    justify-content: space-around;
    color: var(--Dark-02, #474747);
font-size: 30px;
font-weight: 700;
margin-top: 65px;
}
.summary{
    text-align: center;
    margin-top: 130px;
}
.section-title-2{
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
}
.summary-1{
    display: flex;
}
.summary-1-1{
    display: flex;
}
.resume-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
margin-top: 100px;
}
.resume-1{
    display: flex;
}
.h-title-0{
    color: var(--Dark-02, #474747);
font-size: 30px;
font-weight: 700;
margin-top: 113px;
}
.master{
    color: var(--Dark-02, #474747);
font-size: 25px;
font-weight: 700;
margin-top: 30px;
}
.harvard{
    color: var(--Dark-03, #757575);
font-size: 20px;
font-weight: 600;
margin-top: 10px;
}
.p-0-0{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
line-height: 28px; 
margin-top: 20px;
margin-right: 71px;
border-bottom: solid;
}
.cv-0-0{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
text-align: center;
padding: 19px 17px 18px 51px;
font-size: 20px;
font-weight: 700;
margin-top: 50px;
}